/* Page reset */
* {
    padding: 0;
    margin: 0;
    cursor: default;
    user-select: none;
    overflow-x: hidden;
}

/* Scroll edit */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: rgb(159, 159, 159);
}

::-webkit-scrollbar-track {
  background: rgb(68, 68, 68);
}

/* Font setup */
@font-face {
    font-family: 'nextStep';
    src: url("/asset/fonts/NEXTSTEP.ttf");
}

@font-face {
    font-family: 'zTalk';
    src: url("/asset/fonts/ZTTalk-Bold.ttf");
}

/* Body color */
body {
    background-color: black;
}

/* Container */
.container {
  width: 100vw;
  height: auto;
}

/* Navigation Decor */
.navigationArea {
  width: 100vw;
  height: 8vh;
  background-color: rgb(11, 13, 17);
  background-image: url("/asset/images/background/green-fibers.png");
  border-bottom: 3px ridge rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.692);
  z-index: 5;
}

.navContainers {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navLogo {
  width: 20vw;
}

#navLogo img {
  height: 98%;
  width: auto;
}

#navButtons {
  width: 55vw;
  gap: 5vw;
}

#navButtons button {
  font-family: 'zTalk', sans-serif;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 1.25em;
  text-shadow: .08em .08em 0 rgb(173, 173, 228);
  transition: 0.2s ease;
}

#navButtons button:hover {
  text-decoration: underline;
  transform: scale(1.1);
  cursor: pointer;
  color: rgb(188, 190, 206);
  text-shadow: .1em .1em 0 rgb(53, 53, 58);
}

#navSocials {
  width: 25vw;
  gap: 1.5vw;
}

#navSocials img {
  width: auto;
  height: 60%;
  transition: 0.2s ease;
}

#navSocials img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/* Footer Decor */
.footerArea {
  width: 100vw;
  height: 40vh;
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.footerContainer {
  width: 32vw;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.footerContainer h1 {
  color: white;
  font-family: 'zTalk', sans-serif;
  padding: 20px;
  border-bottom: 2px solid gray;
  width: 20vw;
  text-align: center;
}

.footerContainer a {
  color: rgb(197, 197, 197);
  font-family: 'zTalk', sans-serif;
  padding: 10px;
  font-weight: bold;
  transition: 0.2s ease;
}

.footerContainer a:hover {
  transform: scale(1.1);
  cursor: pointer;
  text-decoration: underline;
  color: rgb(168, 82, 82);
}

#logoAndCopyright img {
  width: 10vw;
  height: auto;
}

#logoAndCopyright p {
  color: white;
  text-decoration: underline;
  font-family: 'zTalk', sans-serif;
  padding: 10px;
  background-color: rgb(107, 48, 48);
  box-shadow: .2vw .2vw 0 white;
  width: 20vw;
  text-align: center;
}

#logoAndCopyright {
  justify-content: center;
}