/* Imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Russo+One&display=swap');

/* Global Style */
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    color: white;
    overflow-x: hidden;
}

body {
    background-color: black;
}

:root {
    /* Fonts */
    --font_1: "Russo One", sans-serif;
    --font_2: "Lexend", sans-serif;
    /* Colors */
    --main_color: black;
    --main_theme: rgb(15, 15, 15);
    --main_themeLight: rgb(30, 30, 30);
    --main_themeDark: rgb(10, 10, 10);
}

/* Span Color */
.span_color {
    color: var(--main_color);
}

.info-strike {
    text-decoration: line-through 4px var(--main_color);
}

.info-strike:hover {
    text-decoration: none;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    color: var(--main_color);
}

/* Containers */
.page_container {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main_themeDark);
    background-attachment: fixed;
    background-size: 15vw;
    background-image: url(/library/image/texture/inspiration-geometry.png);
}

.content_container {
    width: 70vw;
    height: auto;
    padding-bottom: 10vh;
    background-color: var(--main_theme);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.678);
    border-right: 2px solid var(--main_themeLight);
    border-left: 2px solid var(--main_themeLight);
}

.nav_container {
    width: 70vw;
    height: 10vh;
    position: fixed;
    backdrop-filter: blur(10px);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.article_container {
    width: 100%;
    height: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
}

/* Section Styling */
.section_row {
    width: 100%;
    height: auto;
    display: flex;
}

.section_column {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

/* Navigation Styling */
.nav_logo {
    height: 50%;
    width: auto;
    padding-left: 2vw;
    filter: saturate(0%);
}

.nav_logo:hover {
    filter: saturate(100%);
    transition: 0.2s ease-in;
    cursor: pointer;
    transform: scale(1.1);
}

.nav_buttonHolder {
    width: 45vw;
    height: 100%;
    display: flex;
    padding-right: 3vw;
    justify-content: end;
    align-items: center;
    gap: 2vw;
}

.nav_button {
    color: white;
    font-size: 1.5em;
    font-family: var(--font_2);
    text-decoration: 2px underline var(--main_color);
    padding: 0 1vw;
    font-weight: 200;
    cursor: pointer;
    letter-spacing: 2px;
}

.nav_button:hover {
    transform: scale(1.1);
    transition: 0.1s ease-in;
    font-weight: 300;
}

/* Header Styling */
.header_title {
    color: white;
    font-size: 8em;
    font-family: var(--font_1);
    z-index: 2;
    padding-left: 35vw;
    letter-spacing: 10px;
}

.header_bigTitle {
    color: rgb(26, 26, 26);
    text-shadow: .075em .075em 0 var(--main_themeDark);
    font-size: 20em;
    font-family: var(--font_1);
    letter-spacing: 20px;
    position: absolute;
    z-index: 1;
    padding-top: 5vh;
    padding-left: 5vw;
}

/* Article | About Styling */
.about_info-container {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.about_info-title {
    color: white;
    font-size: 6em;
    font-family: var(--font_1);
    letter-spacing: 5px;
    padding-left: 4vw;
    padding-bottom: 3vh;;
    text-shadow: 0.1em 0.1em 0 var(--main_themeDark);
}

.about_info-paragraph {
    color: rgb(235, 235, 235);
    font-size: 1.5em;
    font-family: var(--font_2);
    padding-left: 4vw;
    padding-right: 8vw;
    line-height: 1.5em;
    padding-bottom: 3vh;
    text-shadow: 0.1em 0.1em 0 var(--main_themeDark);
}

.about_skills-container {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.about_skills-banner {
    position: absolute;
    width: 40%;
    height: auto;
    right: 0;
    background-color: var(--main_themeLight);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.678);
    border-left: 5px solid var(--main_color);
}

.about_skills-title {
    color: white;
    font-size: 3em;
    font-family: var(--font_1);
    letter-spacing: 5px;
    padding-top: 3vh;
    padding-left: 2vw;
    padding-bottom: 3vh;;
    text-shadow: 0.1em 0.1em 0 var(--main_themeDark);
}

.about_skills-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-right: 2vw;
    gap: 1vh;
    padding-bottom: 5vh;
}

.about_skills-item {
    color: rgb(218, 218, 218);
    font-size: 1.5em;
    font-family: var(--font_2);
    line-height: 1.5em;
    text-shadow: 0.1em 0.1em 0 var(--main_themeDark);
}

.about_skills-item:hover {
    color: white;
    transition: 0.2s ease-in;
    cursor: pointer;
    text-decoration: underline 2px var(--main_color);
}

/* Article | Projects Styling */
.projects_title {
    color: white;
    font-size: 6em;
    font-family: var(--font_1);
    letter-spacing: 5px;
    width: 100%;
    text-align: center;
    padding-bottom: 3vh;;
    padding-top: 10vh;
    text-shadow: 0.1em 0.1em 0 var(--main_themeDark);
}

.projects_paragraph {
    color: rgb(235, 235, 235);
    font-size: 1.5em;
    font-family: var(--font_2);
    padding-left: 4vw;
    padding-right: 4vw;
    line-height: 1.5em;
    text-align: center;
    padding-bottom: 3vh;
    text-shadow: 0.1em 0.1em 0 var(--main_themeDark);
    padding-bottom: 5vh;
}

.projects_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.projects_holder {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main_themeDark);
    background-attachment: fixed;
    background-size: 15vw;
    box-shadow: 0 0 20px rgb(0, 0, 0) inset;
    padding-top: 5vh;
    padding-bottom: 5vh;
    gap: 8vh;
    border: 2px solid var(--main_themeLight);
    background-image: url(/library/image/texture/inspiration-geometry.png);
}

.projects_card {
    width: 85%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--main_theme);
    gap: 2vw;
    border-left: 4px solid var(--main_color);
    border-right: 4px solid var(--main_color);
}

.projects_image {
    height: 80%;
    width: auto;
    padding: 0 2vw;
}

.projects_info {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 2vw;
}

.projects_info-title {
    color: white;
    font-size: 3em;
    font-family: var(--font_1);
    letter-spacing: 5px;
    padding-bottom: 2vh;;
    text-shadow: 0.1em 0.1em 0 var(--main_themeDark);
}

.projects_info-paragraph {
    color: rgb(218, 218, 218);
    font-size: 1.5em;
    font-family: var(--font_2);
    line-height: 1.5em;
    padding-bottom: 2vh;
    text-shadow: 0.1em 0.1em 0 var(--main_themeDark);
}

.projects_info-buttonHolder {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.projects_info-button {
    color: white;
    font-size: 1.5em;
    font-family: var(--font_2);
    text-decoration: 2px underline var(--main_color);
    padding: 0 1vw;
    font-weight: 300;
    cursor: pointer;
    letter-spacing: 2px;
}

.projects_info-button:hover {
    transform: scale(1.1);
    transition: 0.1s ease-in;
}

.projects_info-button:active {
    transform: scale(0.9);
    transition: 0.1s ease-in;
}

/* Article | Contact Styling */
.socials_title {
    color: white;
    font-size: 6em;
    font-family: var(--font_1);
    letter-spacing: 5px;
    width: 100%;
    text-align: center;
    padding-bottom: 3vh;;
    padding-top: 10vh;
    text-shadow: 0.1em 0.1em 0 var(--main_themeDark);
}

.socials_paragraph {
    color: rgb(235, 235, 235);
    font-size: 1.5em;
    font-family: var(--font_2);
    padding-left: 4vw;
    padding-right: 4vw;
    line-height: 1.5em;
    text-align: center;
    padding-bottom: 3vh;
    text-shadow: 0.1em 0.1em 0 var(--main_themeDark);
    padding-bottom: 5vh;
}

.socials_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 5vh;
    gap: 5vh;
}

.socials_banner {
    width: 25%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0;
    background-color: var(--main_themeLight);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.678);
    border-top: 5px solid var(--main_color);
}

.socials_image {
    height: auto;
    width: 30%;
    padding: 10px;
    border: 2px solid var(--main_color);
    border-radius: 100vw;
}

.socials_info-title {
    color: white;
    font-size: 2.5em;
    font-family: var(--font_1);
    letter-spacing: 5px;
    padding-top: 2vh;
    padding-bottom: 2vh;;
    text-shadow: 0.1em 0.1em 0 var(--main_themeDark);
}

.socials_info-paragraph {
    color: rgb(218, 218, 218);
    font-size: 1.2em;
    font-family: var(--font_2);
    line-height: 1.5em;
    padding-bottom: 2vh;
    text-shadow: 0.1em 0.1em 0 var(--main_themeDark);
    padding: 0 2vw;
    padding-bottom: 2vh;
    text-align: center;
}

.socials_info-button {
    color: white;
    font-size: 1.5em;
    font-family: var(--font_2);
    padding: 1vh 1vw;
    font-weight: 200;
    cursor: pointer;
    letter-spacing: 2px;
}

.socials_info-button:hover {
    transform: scale(1.05);
    transition: 0.1s ease-in;
    font-weight: 300;
    background-color: white;
    color: var(--main_theme);
    box-shadow: 0.2em 0.2em 0 var(--main_color);
}

/* Footer Styling */
.footer_container {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.footer_button {
    height: 3vw;
    width: auto;
    padding: 10px;
    border-radius: 100vw;
    border: 2px solid var(--main_color);
    overflow: visible;
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    /* Span Color */
    .info_strike {
        text-decoration: line-through 2px var(--main_color);
    }

    /* Page Styling */
    .content_container {
        width: 100vw;
        height: auto;
    }

    /* Navigation Styling */
    .nav_container {
        width: 100%;
    }

    .nav_buttonHolder {
        width: 80%;
    }

    .nav_button {
        font-size: 4vw;
    }

    /* Header Styling */
    .header_title {
        font-size: 15vw;
        padding-left: 7vw;
        padding-top: 5vw;
    }

    .header_bigTitle {
        font-size: 25vw;
        line-height: 80vw;
        padding-left: 5vw;
    }

    /* About Styling */
    #aboutContainer {
        flex-direction: column;
    }

    .about_info-container {
        width: 100%;
        height: auto;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    .about_info-title {
        font-size: 13vw;
        padding-left: 5vw;
        padding-bottom: 3vh;
    }

    .about_info-paragraph {
        font-size: 4vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .about_skills-container {
        width: 100%;
        height: auto;
        padding-bottom: 10vh;
        justify-content: center;
        align-items: center;
    }

    .about_skills-banner {
        position: relative;
        width: 85%;
    }

    /* Projects Styling */
    .projects_title {
        font-size: 15vw;
        padding-bottom: 3vh;
    }

    .projects_paragraph {
        font-size: 4vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .projects_card {
        width: 90%;
        height: auto;
        flex-direction: column;
        align-items: center;
        overflow: visible;
        padding: 2vh 0;
    }

    .projects_image {
        height: auto;
        width: 40%;
        padding: 0 2vw;
    }

    .projects_info {
        width: 100%;
        height: auto;
        padding: 0 2vw;
        justify-content: center;
        align-items: center;
        overflow: visible;
    }

    .projects_info-title {
        font-size: 5vw;
        padding-bottom: 2vh;
    }

    .projects_info-paragraph {
        font-size: 3vw;
        padding-bottom: 2vh;
        width: 90%;
        text-align: center;
    }

    .projects_info-button {
        font-size: 3vw;
        padding: 1vh 2vw;
    }

    .projects_info-button:hover {
        transform: scale(1.05);
        transition: 0.1s ease-in;
    }

    /* Contact Styling */
    .socials_title {
        font-size: 15vw;
        padding-bottom: 3vh;
    }

    .socials_paragraph {
        font-size: 4vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .socials_container {
        flex-direction: column;
        gap: 5vh;
    }

    .socials_banner {
        width: 80%;
        height: auto;
        padding: 5vh 0;
    }

    /* Footer Styling */
    .footer_container {
        height: 10vh;
    }

    .footer_button {
        height: 10vw;
        width: auto;
        padding: 10px;
        border-radius: 100vw;
        border: 2px solid var(--main_color);
    }
}
  
/* Small devices (portrait tablets and large phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    
}
  
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}
  
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}