.home-container {
    width: 100%;
    min-height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    z-index: 1;
    color: white;
}

/* Containers */
.home-background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    z-index: 5;
}

.home-nav {
    width: 50vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    left: 0;
    top: 0;
    z-index: 10;
}

.homeContent-container {
    width: 50vw;
    min-height: 100vh;
    margin-left: 50vw;
    display: flex;
    flex-direction: column;
    z-index: 6;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.76)), url("../../assets/images/textures/navy.png");
    backdrop-filter: blur(10px);
    box-shadow: 0 0 200px 50px black, inset 20px 0 50px -20px rgb(0, 0, 0);
    border-left: 1px solid rgb(31, 31, 31);
}

/* Nav Section */
.homeNav-title {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-weight: 100;
    font-family: var(--fontOne);
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.637);
    cursor: default;
    margin-left: 12vw;
    margin-top: 15vh;
}

.homeNav-subtitle {
    font-size: 2.5rem;
    font-weight: 100;
    font-family: var(--fontFour);
    color: rgb(223, 223, 223);
    width: 70%;
    text-shadow: 2px 2px 10px black;
    cursor: default;
    margin-left: 12vw;
}

.homeNav-description {
    font-size: 1.5rem;
    font-weight: 100;
    font-family: var(--fontTwo);
    color: rgb(156, 156, 156);
    width: 50%;
    line-height: 4vh;
    text-shadow: 2px 2px 10px black;
    cursor: default;
    margin-left: 12vw;
    margin-top: 2vh;
}

.homeNav-scrollContainer {
    margin-left: 12vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.homeNav-scrollContent {
    width: 10vw;
    height: 5vh;
    display: flex;
    align-items: center;
    transition: all 0.1s ease;
    cursor: pointer;
}

.scroll-hr {
    width: 3vw;
    height: 2px;
    border: 1px solid grey;
    transition: all 0.1s ease;
}

.scroll-link {
    margin-left: 1vw;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: all 0.1s ease;
    font-family: var(--fontTwo);
}

.homeNav-scrollContent:hover .scroll-hr {
    width: 4vw;
    border: 1px solid white;
}

.homeNav-scrollContent:hover .scroll-link {
    color: #ffffff;
}

.homeNav-scrollContent.active .scroll-hr {
    width: 4vw;
    background-color: #ffffff;
}

.homeNav-scrollContent.active .scroll-link {
    color: #ffffff;
}

.homeNav-scrollContent.active .scroll-hr {
    width: 4vw;
    border: 1px solid white;
}

.homeNav-links {
    margin-left: 12vw;
    margin-bottom: 10vh;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.homeNav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;

    border-radius: 14px;

    transition: all 0.35s ease;
    text-decoration: none;
}

.navLink-img {
    width: 50%;
    height: auto;
    object-fit: contain;

    filter: brightness(.90);
    transition: all 0.35s ease;
}

.homeNav-button:hover {
    transform: translateY(-6px);
}

.homeNav-button:hover .navLink-img {
    transform: scale(1.15);
}

.homeNav-links:hover .homeNav-button {
    opacity: 0.4;
}

.homeNav-links .homeNav-button:hover {
    opacity: 1;
}

/* About Me Section */
.aboutMe-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.aboutMe-description {
    width: 80%;
    font-size: 1.3rem;
    font-weight: 100;
    font-family: var(--fontTwo);
    color: rgb(202, 202, 202);
    line-height: 4vh;
    text-shadow: 2px 2px 10px black;
    cursor: default;
}

.highlighted-text, .highlighted-text a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-underline-offset: 8px;
    text-decoration-color: rgb(152, 152, 152);
    text-decoration-thickness: 1px;
    transition: all 0.2s ease;
}

.highlighted-text a:hover {
    text-decoration-color: rgb(255, 255, 255);
}

/* Skills Section */
.skills-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: blue;
}

.skills-grid {
    width: 80%;
    height: 80%;
    background-color: red;
}

/* Projects Section */
.projects-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Contact Section */

.contact-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}