.notFound-background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.notFound-text {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--fontTwo);
    color: white;
    z-index: 1;
}

.notFound-title {
    font-size: 10em;
    font-weight: 100;
}

.notFound-description {
    font-size: 2.5em;
    color: white;
    margin: 4vh 0;
    width: 50%;
    font-weight: 100;
    text-align: center;
}

.redirect-button {
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.342);
    backdrop-filter: blur(10px);
    padding: 2vh 3vw;
    border: 1px solid white;
    border-radius: 50px;
    text-decoration: none;
    transition: all 500ms ease;
    color: white;
}

.redirect-button:hover {
    background-color: rgba(68, 68, 68, 0.609);
    transform: translateY(-5px);
}